# Byte-code files
*.pyc
*.pyo
__pycache__/

# Virtual environment
venv/
.venv/
env/
.env/

# Editor/IDE files
.vscode/
.idea/
*.swp
*.bak
*~

# Test files
.pytest_cache/
.coverage

# Build artifacts
build/
dist/
*.egg-info/

# Jupyter Notebook files
.ipynb_checkpoints/

# Operating System files
.DS_Store
Thumbs.db

# Sensitive information (example)
config.ini
.env

# Datasets
